<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />


    <!-- To allow long-term folder access, For Android 13+ this permission is ignored   -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackComposeExample">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.JetpackComposeExample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activities in different packages -->
        <activity android:name=".text.SimpleTextActivity" />
        <activity android:name=".navigation.NavExample" />
        <activity android:name=".animation.AnimationExample" />
        <activity android:name=".image.ImageExample" />
        <activity android:name=".storage.StorageActivity" />
        <activity android:name=".storage.room.RoomActivity" />
        <activity android:name=".storage.datastore.DataStoreActivity" />
        <activity android:name=".storage.files.InternalStorageActivity" />
        <activity android:name=".storage.files.ExternalStorageActivity" />
        <activity android:name=".storage.mediastore.MediaStoreActivity" />
        <activity android:name=".storage.saf.SafDirectoryPickerActivity" />






    </application>

</manifest>